@font-face {
    font-family: fontAwesome;
    src: url('../fonts/FontAwesome.otf');
}
.fa {
	font-family: fontAwesome;
	color: orange;
	font-size: 10vh;
	display: block;
	text-shadow: 0 2px 2px #8c8c8c;
	margin-bottom: 2vh;
}
body{
    font-family: 'Passion One', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    width: 100%;
    height:100%;
    margin: 0;
	background-position: center center;
	background-repeat: none;
	background-size: contain;
    
}

p {
	margin: 0;
	text-align: center;
	color: #339af0;
	cursor: pointer;
}
h2 {
	color: #ffffff;
	text-align: center;
	font-size: 9vh;
	margin: 0;
	line-height: normal;
	display: block;
	text-shadow: 0 2px 10px #000;
}
h3 > input {
	font-size: 3vh;
	text-align: center;
	background: #ffffff;
	padding: 0vh;
	color: #339af0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	width: 95%;
	display: block;
}
h3 {
	font-size: 4vh;
	text-align: center;
	background: #ffffff;
	padding: 3vh;
	color: #339af0;
	margin: 0;
}
h5 {
	color: #ffffff;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	width: auto;
	background: #3f250f99;
	float: none;
	margin: 0;
	padding: 2vh;
}
.btn {
	width: 8vh;
	height: 8vh;
	padding: 0;
	background: #339af0;
	border: none;
	color: #ffffff;
	font-family: 'Passion One', cursive;
	cursor: pointer;
	position: fixed;
	border-radius: 50%;
	right: 5vh;
	top: 5vh;
	z-index: 100;
}
.btn-content {
	position: relative;
	font-family: fontAwesome;
	font-size: 4.5vh;
}

button:hover{
	background: #228be6;
}
[class^="panel"] {
	flex-grow: 1;
	min-height: 45vh;
	background: #ffffff;
	margin: 2vh;
	position: relative;
	box-shadow: 0px 2px 4px #444;
	opacity: 0.85;
	border-left: solid 2vh #888
	
}
[class^="panel"].active {
	margin: 1.5vh;
	opacity: 1;
	border-left: solid 2vh #f67c05;
	
}

#side-right {
    flex: 3;
	position: relative;
	height: 100vh;
	width: auto;
	margin-left: 60px;
	/* -webkit-perspective: 100px;
	perspective: 80vh; */
    margin: 0;
    background-image: url('../img/bk.jpg');
	background-position: center center;
	background-repeat: none;
	background-size: contain;
}
#tablero {
	position: relative;
	border: 0.5vh solid #3f250f;
	/* background-color: red; */
	background: rgba(100,100,100,0.5);
	/* -webkit-transform-style: preserve-3d; */
	/* -webkit-transform: rotateX(12deg); */
	/* transform-style: preserve-3d; */
	/* transform: rotateX(12deg); */
	margin: auto;
	background-image: url('../img/bk.png');
	box-shadow: 0px 1vh 2vh #000;
	border-radius: 1vh;
	width: 80vh;
	height: 80vh;
	margin: 0vh auto;
}

[id^="fila"]{
    display:block;
    float: left
}
.black, .white{
    border: solid 0px #000000;
    float:left;
    width: 10vh;
    height: 10vh;
}
.black {
	background-color: #0000004d;
}
.white {
	background-color: #FFFFFF4D;
}

.jugador1 {
	background-color: #16bac6;
}
.jugador2 {
	background-color: #ffffff;
}

[class^="jugador"] {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: relative;
	height: 8vh;
	width: 8vh;
	margin: 1vh auto;
	top: -0.5vh;
	box-shadow: 0 0.7vh #505050;
	/* overflow: hidden; */
}
[class^="jugador"]::before{
    content: '';
}

[class^="jugador"]::before, .king::before {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	right: 0;
	font-family: fontAwesome;
	/* font-family: //ionicons; */
	font-size: 8vh;
	text-align: center;
	line-height: 8vh;
	color: rgba(0,0,0,0.6);
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2);
}

.king::before {
	content: '';
	font-size: 4vh;
	background-color: #2e5b6066;
	border-radius: 50%;
}

.disponible{
    background: #00adff38;
    box-shadow: 0 0px 4px 3px orange;
}

.turno:hover {
	cursor: pointer;
	box-shadow: 0px 7px 6px 0px #0009;
	top: -2vh;
}

.saltar{
    opacity: 0.75;
}
/* .saltar [class^="jugador"]{
    border: solid 1px orange;
} */

.container {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#top{
    background: pink;
    flex-grow: 1;
    
}
#side-left {
	flex: 1;
    background: #339af0;
    display: block;
}

#mensaje {
	background: #fff;
	text-align: center;
	border: solid #ccc 1px;
	color: #888;
	font-weight: bold;
}

.remaining {
	font-size: 3.2vh;
	text-align: center;
	color: #666;
}
.remaining span{
    font-weight: bold;
    color: #444
}
.saltadas {
	background: #d1d1d1;
	margin: auto;
	max-width: 100%;
	border-top: 3px solid #339af0;
	min-height: 20vh;
	display: block;
	width: 100%;
	/* margin: 0vh auto; */
	position: absolute;
	bottom: 0;
	/* top: 0; */
}
.saltadas [class^="jugador"] {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: relative;
	height: 5vh;
	width: 5vh;
	margin: 1vh auto;
	top: 0;
	box-shadow: 0 3px #505050;
	float: left;
	margin: 1vh;
} 

.saltadas [class^="jugador"]::before, .saltadas .king::before {
    line-height: 5vh;
    font-size: 4vh;
}

.saltadas .king::before {
	font-size: 3vh;
}

/*ui-elements*/
.ui-draggable-dragging{
    box-shadow: 0px 2px 3px 1px #8f8e8e;
}
.ui-draggable-dragging:after{
	position: absolute;
	top:-15vh;
	left: -15vh;
	content: '';
	background-color:tansparent;
	width: 36vh;
	height: 36vh;
	border: solid 2px transparent
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
	background-color: #339af0;
	color: #ffffff;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 0;
	cursor: pointer;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: 0;
	padding: .3em 1em .5em .4em;
}
.ui-dialog-buttonset button {
	background-color: #339af0;
	color: #ffffff;
	font-weight: bolder;
	border: transparent;
	width: 100%;
}
.ui-widget-content {
	border: 1px solid transparent;
	background: #ffffff;
	color: #333333;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
}


/*Input radio*/
.custom-radios div {
	display: inline-block;
	text-align: center;
  }
  .custom-radios input[type="radio"] {
	display: none;
  }
  .custom-radios input[type="radio"] + label {
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
  }
  .custom-radios input[type="radio"] + label span {
	  display: inline-block;
	  width: 6vh;
	  height: 6vh;
	  margin: 2vh;
	  vertical-align: middle;
	  cursor: pointer;
	  border-radius: 50%;
	  border: 0.5vh solid #FFFFFF;
	  box-shadow: 0 0.3vh 0.2vh 0 rgba(0, 0, 0, 0.33);
	  background-repeat: no-repeat;
	  background-position: center;
	  text-align: center;
  }
  .custom-radios input[type="radio"] + label span p {
	opacity: 0;
	transition: all .3s ease;
	font-family: fontAwesome;
	  color: #ffffff;
	  font-size: 3vh;
	  line-height: 6vh;
	  margin: 0;
  }
  .custom-radios input[type="radio"] + [for*="color-1"] span {
	  background-color: #dbdbdb;
  }
  
  .custom-radios input[type="radio"]:checked + label span p {
	  opacity: 1;
  }
  
  .custom-radios input[type="radio"]:checked + label span p {
	  opacity: 1;
  }
  
  .color-1{
	  background-color: #dbdbdb;
  }
  
  .color-2{
	  background-color: #2ecc71;
  }
  
  .color-3{
	  background-color: #16bac6;
  }
  
  .color-4{
	  background-color: #f1c40f;
  }
  
  .color-5{
	  background-color: #e74c3c;
  }
  
  .color-6 {
	  background-color: #4a4a4a;
  }
  
  
  

@media (min-width:768px){
    #side-right {
        flex: 4;
    }
}

@media (max-width: 480px){
    .container {
        display: block;
    }
    #side-left {
        flex: 1;
        background: #339af0;
        display: flex;
    }
    .saltadas {
        min-height: 10vh;
    }
    h3 {
        font-size: 3vh;
        text-align: center;
        background: #ffffff;
        padding: 1vh;
        color: #339af0;
	}
	h5 {
		color: #ffffff;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		width: auto;
		background: #3f250f99;
		float: none;
		margin: 0;
		padding: 2vh;
		font-size: 3vh;
	}
    .remaining {
	font-size: 2vh;
	text-align: center;
	color: #666;
    }

    [class^="panel"] {
        min-height: 25vh;
    }
    h2 {
        font-size: 7vh;
    }

    .btn-content {
	    font-size: 3.5vh;
    }

    #tablero {
        width: 48vh;
        height: 48vh;
    }
    .black, .white {
        width: 6vh;
        height: 6vh;
    }

    [class^="jugador"] {
        height: 4vh;
        width: 4vh;
    }
    [class^="jugador"]::before, .king::before {
        font-size: 4vh;
        line-height: 4vh;
    }
    .saltadas [class^="jugador"] {
        height: 2vh;
        width: 2vh;
        box-shadow: 0 0.3vh #505050;
    }
    .saltadas [class^="jugador"]::before, .saltadas .king::before {
        line-height: 2vh;
        font-size: 2vh;
    }
    .btn {
        width: 6vh;
        height: 6vh;
        right: calc(50% - 6vh);
        top: initial;
        bottom: 3vh;
    }
}
