@font-face {
    font-family: fontAwesome;
    src: url('../fonts/FontAwesome.otf');
}
.fa{
    font-family: fontAwesome;
}
body{
    font-family: 'Passion One', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    width: 100%;
    height:100%;
    margin: 0;
	background-position: center center;
	background-repeat: none;
	background-size: contain;
    
}
h2 {
	color: white;
	text-align: center;
	font-size: 9vh;
	margin: 0;
	line-height: normal;
	display: block;
	text-shadow: 0 2px 10px #000;
}
h3 {
	font-size: 4vh;
	text-align: center;
	background: white;
	padding: 3vh;
	color: #339af0;
	margin: 0;
}
.btn {
	width: 8vh;
	height: 8vh;
	padding: 0;
	background: #339af0;
	border: none;
	color: white;
	font-family: 'Passion One', cursive;
	cursor: pointer;
	position: fixed;
	border-radius: 50%;
	right: 5vh;
	top: 5vh;
	z-index: 100;
}
.btn-content {
	position: relative;
	font-family: fontAwesome;
	font-size: 4.5vh;
}

button:hover{
	background: #228be6;
}
[class^="panel"] {
	flex-grow: 1;
	min-height: 45vh;
	background: white;
	margin: 2vh;
	position: relative;
	box-shadow: 0px 2px 4px #444;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity: 0.85;
	border-left: solid 2vh #f67c05;
}
[class^="panel"].active {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	margin: 1.5vh;
	opacity: 1;}
h3 {
	font-size: 4vh;
	text-align: center;
	background: white;
	padding: 3vh;
	color: #339af0;
}
#side-right {
    flex: 3;
	position: relative;
	height: 100vh;
	width: auto;
	margin-left: 60px;
	-webkit-perspective: 100px;
	perspective: 80vh;
    margin: 0;
    background-image: url('../img/bk.jpg');
	background-position: center center;
	background-repeat: none;
	background-size: contain;
}
#tablero {
	position: relative;
	border: 0.5vh solid #3f250f;
	/* background-color: red; */
	background: rgba(100,100,100,0.5);
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(12deg);
	transform-style: preserve-3d;
	transform: rotateX(12deg);
	margin: auto;
	background-image: url('../img/bk.png');
	box-shadow: 0px 1vh 2vh #000;
	border-radius: 1vh;
	width: 80vh;
	height: 80vh;
	margin: 0vh auto;
}

[id^="fila"]{
    display:block;
    float: left
}
.black, .white{
    border: solid 0px #000000;
    float:left;
    width: 10vh;
    height: 10vh;
}
.black {
	background-color: #0000004d;
}
.white {
	background-color: #FFFFFF4D;
}

.jugador1 {
	background-color: #16bac6;
}


.jugador2 {
	background-color: white;
}

[class^="jugador"] {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: relative;
	height: 8vh;
	width: 8vh;
	margin: 1vh auto;
	top: -0.5vh;
	box-shadow: 0 0.7vh #505050;
}
[class^="jugador"]::before{
    content: '';
}

.king.jugador1{
    background-color: blue;
}
.king.jugador2{
	background-color: #a7a7a7;
}
[class^="jugador"]::before, .king::before {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	right: 0;
	font-family: fontAwesome;
	/* font-family: //ionicons; */
	font-size: 8vh;
	text-align: center;
	line-height: 8vh;
	color: rgba(0,0,0,0.6);
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2);
}

.king::before {
	content: '';
}

.disponible{
    /* z-index: 100; */
    background: #00adff38;
    box-shadow: 0 0px 4px 3px orange;
    /* position: relative; */
}

.turno:hover {
	cursor: pointer;
	box-shadow: 0px 7px 6px 0px #0009;
	top: -2vh;
}

.saltar{
    opacity: 0.75;
}
/* .saltar [class^="jugador"]{
    border: solid 1px orange;
} */

.container {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#top{
    background: pink;
    flex-grow: 1;
    
}
#side-left {
	flex: 1;
    background: #339af0;
    display: block;
}

#center{
    flex: 4;
    background: rgb(232, 202, 146);
    float:left;
    height: 100%;

}

#mensaje {
    background: #d4d4d4;
    text-align: center;
}

.remaining {
	font-size: 3.2vh;
	text-align: center;
	color: #666;
}
.remaining span{
    font-weight: bold;
    color: #444
}
.saltadas {
	background: #d1d1d1;
	margin: auto;
	max-width: 100%;
	border-top: 3px solid #339af0;
	min-height: 20vh;
	display: block;
	width: 100%;
	/* margin: 0vh auto; */
	position: absolute;
	bottom: 0;
	/* top: 0; */
}
.saltadas [class^="jugador"] {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: relative;
	height: 5vh;
	width: 5vh;
	margin: 1vh auto;
	top: 0;
	box-shadow: 0 3px #505050;
	float: left;
	margin: 1vh;
} 

.saltadas [class^="jugador"]::before, .saltadas .king::before {
    line-height: 5vh;
    font-size: 4vh;
}

/*ui-elements*/
.ui-draggable-dragging{
    box-shadow: 0px 2px 3px 1px #8f8e8e;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
	background-color: #339af0;
	color: white;
}

.ui-dialog-buttonset button{
    background-color: #339af0;

}
.ui-widget-content {
	border: 1px solid transparent;
	background: #ffffff;
	color: #333333;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
}

@media (min-width:768px){
    #side-right {
        flex: 4;
    }
}

@media (max-width: 480px){
    .container {
        display: block;
    }
    #side-left {
        flex: 1;
        background: #339af0;
        display: flex;
    }
    .saltadas {
        min-height: 10vh;
    }
    h3 {
        font-size: 3vh;
        text-align: center;
        background: white;
        padding: 1vh;
        color: #339af0;
    }
    .remaining {
	font-size: 2vh;
	text-align: center;
	color: #666;
    }

    [class^="panel"] {
        min-height: 25vh;
    }
    h2 {
        font-size: 7vh;
    }

    .btn-content {
	    font-size: 3.5vh;
    }

    #tablero {
        width: 48vh;
        height: 48vh;
    }
    .black, .white {
        width: 6vh;
        height: 6vh;
    }

    [class^="jugador"] {
        height: 4vh;
        width: 4vh;
    }
    [class^="jugador"]::before, .king::before {
        font-size: 4vh;
        line-height: 4vh;
    }
    .saltadas [class^="jugador"] {
        height: 2vh;
        width: 2vh;
        box-shadow: 0 0.3vh #505050;
    }
    .saltadas [class^="jugador"]::before, .saltadas .king::before {
        line-height: 2vh;
        font-size: 2vh;
    }
    .btn {
        width: 6vh;
        height: 6vh;
        right: calc(50% - 6vh);
        top: initial;
        bottom: 3vh;
    }

    
}